<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <th></th>
      <% @unit_size.times.each do |i| %>
        <th width="20px"style="word-break : break-all; "><%= @column_secret_data[i].select{|x| x[0]}.map{|x| x[1]}.join("<br>").html_safe %></th>
      <% end %>
    </tr>
    <% @unit_size.times.each do |i| %>
    <tr>
      <th width="200px;" height="20px"><%= @row_secret_data[i].select{|x| x[0]}.map{|x| x[1]}.join(" ") %></th>
      <% @unit_size.times.each do |j| %>
        <td width="20px" height="20px"></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>

<script>
  $(function(){
    $("table tr td").click(function(){
      var bColor = $(this).css("background-color");
      if(bColor == "rgb(128, 128, 128)"){
        $(this).css("background-color", "");
      }else{
        $(this).css("background-color", "gray");
      }
    });
  })
</script>
