<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <th></th>
      <% @unit_size.times.each do |i| %>
        <th width="20px"style="word-break : break-all; "><%= @column_secret_data[i].select{|x| x[0]}.map{|x| x[1]}.join("<br>").html_safe %></th>
      <% end %>
    </tr>
    <% @unit_size.times.each do |i| %>
    <tr>
      <th width="200px;" height="20px"><%= @row_secret_data[i].select{|x| x[0]}.map{|x| x[1]}.join(" ") %></th>
      <% @unit_size.times.each do |j| %>
        <td width="20px" height="20px" style="background-color: <%= 'gray' if @data_list[i][j] %>"></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
